@import url('https://fonts.googleapis.com/css?family=Montserrat');


body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    text-align: center;
    background-image: url('../img/60degree_gray.png');
}



div label, div input{
    vertical-align: middle;
    padding:0px;
    margin:0px;
}

a{
  text-decoration:none;
}


input{
  border: none;
  height:40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  background-color: transparent;
  cursor:pointer;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type=range] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    width: 200px;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #666;
    opacity: 0.5;
    width: 10px;
}




input[type=submit],input[type=button] {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14pt;
  padding: 5px 20px;
  border: solid #206a8a 1px;
  text-decoration: none;
}

input[type=submit]:hover, input[type=button]:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.fa-input {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}









.main{
  position:absolute;
  width:920px;
  height: 400px;
  top:100px;
  left:50%;
  margin-left: -460px;
  text-align: center;
  display:inline-block;
}

.container{
  width:912px;
  display:inline-block;
}


.upload-box{
  border:4px solid #aaa;
  background: rgba(0,0,0,0.1);
  height:200px;
  width:200px;
  border-radius: 10px;
  text-align:center;
  margin:0 10px;
  float:left;
  background-image: url('../img/upload.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  overflow: hidden;
}

.upload-box input{
  border:1px solid #444;
  height: 200px;
  width:200px;
  opacity: 0;
  filter: alpha(opacity=0);
}

.preview-box{
  border:4px solid #aaa;
  width:400px;
  border-radius: 10px;
}







#imgPreview{
  width: 500px;
}

#divAction{
  margin-top: 50px;
  width:912px;
}

#delayValue{
  width: 60px;
  text-align:center;
}



